.icon {
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
}

.selectedSubject {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 28px;
  font-weight: 500;
}
