@use "@/app/styles/media-query" as *;

.icon {
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;

  @include mq(sm) {
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
}

.selectedSubject {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;

  @include mq(sm) {
    font-size: 18px;
    gap: 16px;
  }
}
