@use "@/app/styles/media-query" as *;

.toggleContainer {
  display: flex;
}

.imageContainer {
  width: 24px;
  height: 24px;
  position: relative;

  @include mq(sm) {
    width: 20px;
    height: 20px;
  }
}

.SwitchRoot {
  all: unset;
  width: 48px;
  height: 25px;
  background-color: var(--purple);
  border-radius: 9999px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0 16px;

  @include mq(sm) {
    margin: 0 8px;
    width: 32px;
    height: 20px;
  }
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px black;
  transition: transform 100ms;
  transform: translateX(4px);
  will-change: transform;

  @include mq(sm) {
    width: 12px;
    height: 12px;
  }
}
.SwitchThumb[data-state="checked"] {
  transform: translateX(24px);

  @include mq(sm) {
    transform: translateX(18px);
  }
}
