@use "@/app/styles/media-query" as *;

.main {
  min-height: 100vh;
  background: var(--background);
  display: flex;
  justify-content: center;
  min-width: 375px;

  @include mq(md) {
    display: block;
  }
}

.topContainer {
  padding: 97px 0;
  height: 83px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(md) {
    padding: 54px 62px;
  }

  @include mq(sm) {
    padding: 16px 24px;
  }
}
