.main {
  min-height: 100vh;
  background: var(--background);
  display: flex;
  justify-content: center;
}

.topContainer {
  padding: 97px 0;
  height: 83px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

