.quizContainer {
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.questionsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 452px;
}

.currentQuestionContainer {
  width: 465px;
}

.textDescription {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
  color: var(--left-subtitle);
}

.question {
  font-size: 36px;
  font-weight: 500;
  line-height: 120%;
}

.noSubjectPadding {
  padding-top: 48px;
}

.subjectPadding {
  padding-bottom: 27px;
}

.title {
  font-size: 64px;

  & > p:first-child {
    font-weight: 300;
  }

  & > p:last-child {
    font-weight: 500;
  }
}

.noAnswer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  color: var(--light-grey);
  margin-top: 32px;
  gap: 8px;
}

.completedRightContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 564px;
}

.scoreContainer {
  width: 100%;
  height: 388px;
  background-color: var(--navy);
  box-shadow: 0px 16px 40px 0px rgba(49, 62, 81, 0.14);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  gap: 40px;
}

.totalRightAnswers {
  font-size: 144px;
  font-weight: 500;
  line-height: 100%;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.totalQuestions {
  font-size: 24px;
  line-height: 150%;
  color: var(--light-bluish);
}

.buttonQuiz {
  margin-top: 32px;
}