@use "@/app/styles/media-query" as *;

.quizContainer {
  width: 1160px;
  display: flex;
  justify-content: space-between;

  @include mq(md) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 62px;
  }

  @include mq(sm) {
    padding: 0 24px;
  }
}

.descriptionsContainer {
  @include mq(md) {
    width: 100%;
  }
}

.questionsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include mq(md) {
    padding-top: 64px;
}

  @include mq(sm) {
    padding-top: 40px;
    gap: 12px;
  }
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 452px;

  @include mq(md) {
    height: auto;
  }
}

.currentQuestionContainer {
  width: 465px;

  @include mq(md) {
    width: 100%;
    padding-bottom: 40px;
  }

  @include mq(sm) {
    padding-bottom: 24px;
  }
}

.textDescription {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
  color: var(--left-subtitle);

  @include mq(sm) {
    font-size: 14px;
  }
}

.question {
  font-size: 36px;
  font-weight: 500;
  line-height: 120%;

  @include mq(sm) {
    font-size: 20px;
  }
}

.noSubjectPadding {
  padding-top: 49px;

  @include mq(md) {
    padding-top: 16px;
  }
}

.subjectPadding {
  padding-bottom: 27px;
}

.title {
  font-size: 64px;

  & > p:first-child {
    font-weight: 300;
  }

  & > p:last-child {
    font-weight: 500;
  }

  @include mq(sm) {
    font-size: 40px;
    line-height: 100%;
  }
}

.noAnswer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  color: var(--alert);
  margin-top: 32px;
  gap: 8px;

  @include mq(sm) {
    font-size: 18px;
    margin-top: 12px;
  }
}

.completedRightContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 564px;

  @include mq(md) {
    width: 100%;
    padding-top: 40px;
  }
}

.scoreContainer {
  width: 100%;
  height: 388px;
  background-color: var(--background-button);
  box-shadow: 0px 16px 40px 0px rgba(49, 62, 81, 0.14);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  gap: 40px;
}

.totalRightAnswers {
  font-size: 144px;
  font-weight: 500;
  line-height: 100%;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.totalQuestions {
  font-size: 24px;
  line-height: 150%;
  color: var(--left-subtitle);
}

.buttonQuiz {
  margin-top: 32px;

  @include mq(sm) {
    margin-top: 12px;
  }
}

.rightContainer {
  width: 564px;

  @include mq(md) {
    width: 100%;
  }
}

.completedText {
  @include mq(md) {
    width: 100%;
  }
}
